*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*justify-content: center;*/
    /* isso é um teste mostrar para um renan */
}

#nav_rosa{
    background-color: #E40982;
    text-align: center;
    padding: 10px;
    color: white;
    font-family: "Josefin Sans", sans-serif;
}

#menu{
    list-style-type: none;
    display: flex;
    justify-content: end;
    padding: 20px;
    color: #E40982;
    font-family: "Josefin Sans", sans-serif;
}

li {
        padding-right: 10px;
}

#titulo_principal{
    color: #E40982;
    font-size: 70px;
    width:  700px;
    word-wrap: break-word;
    border: 1px solid white;
    padding-top: 70px;
    padding-left: 50px;
    font-family: "Josefin Sans", sans-serif;
}

#paragrafo1{
    font-size: 18px;
    width:  650px;
    word-wrap: break-word;
    border: 1px solid white;
    padding-left: 50px;
    padding-top: 15px;
    color: grey;
    font-family: "Lato", sans-serif;
}

.comidas{
    width: 300px;
    height: 350px;
    padding-left: 50px;
}


#imgTexto1{
    display: flex;
}

.imgTexto{
    display: flex;
    flex-direction: column;
}

.tituloImg{
    color: #E40982;
    text-decoration: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    padding: 15px 50px;
}

#paragrafo2{
    color: #E40982;
    padding: 10px;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
}

#sobre_nos{
    background-color: #FEF3ED;
}

#about_us{
    color: #E40982;
    font-size: 25px;
    padding-top: 100px;
    font-family: "Josefin Sans", sans-serif;
}

#about_us2{
    word-wrap: break-word;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding-top: 15px;
    color: grey;
    align-items: center;
    width:  495px;
}

#read_more{
    background-color: #E40982;
    color: white;
    border-style: none;
    padding: 10px;
    font-size: 14px;
    width: 150px;
    height: 50px;
    margin-top:  30px;
}

#two_women{
    width: 584px;
    height: 389px;
    margin-left: 150px;
}

#img{
    display: flex;
    background-color: #FEF3ED;
    padding-left: 50px;
    margin-top: 80px;
}

#imgTexto2{
    display: flex;
}

#cakeCollection{
    color: #E40982;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    padding: 100px 50px 35px 50px;
}

.cakesText{
    display: flex;
    flex-direction: column;
}

.cakes2{
    width: 250px; 
    padding-left: 50px;
}

.Asection2{
    text-decoration: none;
    font-family: "Lato", sans-serif;
    color: #E40982;
    padding-left: 50px;
    font-size: 18px;
}

.preco{
    color: grey;
    padding-left: 50px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
}

#sectionFeedbacks{
    background-image: url(fundo.jpeg);
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

#feedbackFlex{
    display: flex;
}

#happy{
    color: #E40982;
    font-size: 16px;
    font-family: "Josefin Sans", sans-serif;
    padding: 100px 50px 10px;
}

.feedback{
    border: #E40982 1px solid;
    border-radius: 8px;
    margin: 50px;
    width: 450px;
    height: 375px;
    padding: 70px 80px 20px 50px;
    background-color: white;
}

.feedbackText{
    font-family: "Lato", sans-serif;
    color: grey;
    font-size: 18px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#bigDivCakes{
    display: flex;
}

.cakesDiv3{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.cakes3{
    width: 200px; 
}

.cakesText3{
    text-decoration: none;
    color: #E40982;
    font-family: "Lato", sans-serif;
}

.dataCake3{
    color: grey;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}
